mixin table_row(id, date, exercises)
  tr
    td= id
    td= date
    td= exercises
    td
      a(href="/update-workout" data-id=id).edit_button EDIT
      form
      a(href="#" data-id=id).delete_button DELETE
